body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

$title: 'Lobster', sans-serif;
$paragraph: 'Open Sans', sans-serif;
$danger: #FF8C8C;
$primary: #201E34;
$secundary: #8984EF;
$light-font: #FAF7FF;

$theme-colors: (
  "primary": #201E34,
  "secundary": #8984EF,
  "light-font": #FAF7FF,
  "table-header": #FFFADE,
  "expense": #FF8C8C,
  "earning": #DAFFAB,
  "dark-expense": #d91e1e,
);

.title-font{
  font-family: $title;
}
.paragraph{
  font-family: $paragraph;
}

.btn-hover:hover{
  scale: 1.025;
  transition: 0.5s;
  transform: translateY(-2px);
}

select option{
  background-color: $primary; 
  color: $light-font;
}


input, select{
  outline: none;
  color: $primary;
}

.input-style::placeholder{
  color: $primary;
}

.table-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $primary;
}
.table-data{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-line-btn{
  border-radius: 50px;
  width: 25px;
  margin-right: 15px;
  //margin-right: -5px;
  height: 25px;
  display: grid;
  align-content: center;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid $danger;
  color: $danger;
}
.remove-line-btn:hover{
  scale: 1.05;
  transition: 0.2s;
  background-color: $danger;
  color: $light-font;
}


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');